<div id="tournament">
  <% tournament.rounds.times do |round| %>
    <ul class="round">
      <li class="spacer">&nbsp;</li>

      <% tournament.matches.select { |match| match.round_id == round }.each do |match| %>
          <!-- tournament.matches.select { |match| match.round_id == round }.each -->
          <% if match.free_seed? %>
              <li class="game game-top"><%= match.home.name unless match.home.nil? %> <span>W</span></li>
              <li class="game game-spacer">&nbsp;</li>
              <li class="game game-bottom">Free seed <span>O</span></li>

              <li class="spacer">&nbsp;</li>
          <% else %>
            <li class="game game-top"><%= match.home.name unless match.home.nil? %> <span><%= match.home_score %></span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom"><%= match.away.name unless match.away.nil? %> <span><%= match.away_score %></span></li>

            <li class="spacer">&nbsp;</li>
          <% end %>
      <% end %>
    </ul>
  <% end %>
</div>