<%= form_for(tournament) do |f| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :teams_count %>
    <% if @tournament.signup_mode? %>
      <%= f.number_field :teams_count, class: 'form-control' %>
    <% else %>
        <%= f.number_field :teams_count, class: 'form-control', disabled: true %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date, class: 'form-control' %>
  </div>

  <div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
