<div class="row">
  <%= render 'shared/flash_messages' %>
</div>

<div class="row">
  <div class="col-sm-6">
    <ul class="list-group">
      <li class="list-group-item active">
        <strong>Name:</strong>
        <%= @tournament.name %>
      </li>

      <li class="list-group-item">
        <strong>Start date:</strong>
        <%= @tournament.start_date %>
      </li>

      <li class="list-group-item">
        <strong>Creator:</strong>
        <%= @tournament.creator.name %>
      </li>

      <% if @tournament.finished? %>
          <li class="list-group-item">
            <strong>Winner:</strong>
            <%= @tournament.winner.name %>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item active"><strong>Teams:</strong> <%= "#{@tournament.teams.count} / #{@tournament.teams_count}" %></li>
      <% @tournament.teams.each do |team| %>
        <li class="list-group-item"><%= team.name %></li>
      <% end %>
      </ul>
  </div>
</div>
<div class="row">
  <% if logged_in? and @tournament.signup_mode? %>
      <h4>Add your team</h4>
    <%= form_tag add_team_tournament_path(@tournament), method: 'post', class: 'form-inline' do %>
        <%= collection_select(:tournament, :team_ids, current_user.teams, :id, :name, {}, { class: 'form-control' }) %>
        <%= submit_tag('Submit', class: 'btn btn-primary') %>
    <% end %>
  <% end %>
</div>
<div class="row">
  <br>
  <% if !@tournament.signup_mode? %>
      <%= render 'bracket', tournament: @tournament %>
  <% end %>

  <% if tournament_admin? %>
      <%= link_to 'Edit', edit_tournament_path(@tournament), class: 'btn btn-default' %>
  <% end %>

  <% if @tournament.active? %>
      <%= link_to 'Matches', tournament_matches_path(@tournament), class: 'btn btn-default' %>
  <% end %>
  <%= link_to 'Back', tournaments_path, class: 'btn btn-default' %>
</div>